      <nav class="top-nav teal lighten-2">
          <div class="header-container">
              <div class="nav-wrapper">
                  <a class="page-title hide-on-med-and-down left">
                    Material Admin
                  </a>
                  <ul class="right">
                    <li><a href=""><i class="mdi-action-search"></i></a></li>
                    <li><a href=""><i class="mdi-communication-live-help"></i></a></li>
                    <li>
                        <a href="" data-activates="chat-nav" material-side-nav edge="right">
                          <i class="mdi-communication-chat"></i>
                        </a>
                    </li>
                  </ul>
              </div>
          </div>
      </nav> 
      <div class="container">
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only" material-side-nav edge="left">
              <i class="mdi-navigation-menu"></i>
            </a>
      </div>
      <ul id="nav-mobile" class="side-nav fixed" material-nice-scroll>
        <li class="logo">
            <div id="logo-container">
              <img src="images/profile.jpg" alt="" class="circle responsive-img">
              <div class="profile-toggle">
                <a href="" profile-toggle class="white-text open">callicoder@gmail.com</a>
              </div> 
            </div>
        </li> 
        <li class="profile-menu no-padding open">
            <ul>
                <li><a ui-sref=".profile"><span class="mdi-social-person teal-text text-darken-2"></span>View Profile</a></li>
                <li><a ui-sref=".changePassword"><span class="mdi-action-lock-open red-text text-darken-2"></span>Change Password</a></li>
                <li><a href="/auth/signout"><span class="mdi-action-settings-power purple-text text-darken-2"></span>Logout</a></li>             <li><a ui-sref="home.files"><span class="mdi-editor-insert-drive-file red-text text-darken-2"></span>Files</a></li>

            </ul>
        </li>              
      </ul> 



  <ul id="chat-nav" class="side-nav right" style="width:300px;" ng-controller="chatController">
    <li class="chat-header row">
        <img src="images/personalAssistant.png" class="circle responsive-img"> 
        <span>Personal Assistant</span>
    </li>
    <li class="chat-body">
        <div ng-repeat="message in messages track by $index">
            {{message.text}}
        </div>
    </li>
    <li class="chat-footer">
      <form name="chat-form" id="chat-form" ng-submit="sendMessage()">
        <div class="row">
          <div class="input-field">
            <input id="message" type="text" ng-model="messageText" autocomplete="off">
            <label for="message">Message</label>
          </div>
          <div>
            <button type="submit" class="teal-text waves-effect waves-light send-action">
              <i class="mdi-content-send"></i>
            </button>
          </div>
        </div>
      </form>
    </li>
  </ul> 